/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Estilos del menú de navegación */
nav {
    background-color: #333;
    position: fixed; /* Posiciona el menú en la parte superior */
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Posiciona los elementos de la lista de forma horizontal */
    justify-content: center; /* Centra los elementos en el medio de la barra de navegación */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
}

/* Estilos al pasar el cursor */
nav ul li a:hover {
    background-color: #575757;
    transition: background-color 0.5s;
}

/* Ajustar el contenido para que no quede cubierto por el menú fijo */
#contenido {
    padding-top: 60px;
}


nav ul li:nth-child(4) {
    margin-left: 30px;
}

/* Estilos de la galería de productos */
#productos {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0;
}

.product {
    width: 30%;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.05);
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #333;
}